button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  .card {
    position: relative;
    background-color: var(--white);
    border-radius: 7px;
    padding: 20px 20px 10px;
    display: flex;
    flex-flow: row wrap;
  }
  .card > *, .textContent > * {
    flex: 1 1 100%;
  }
  .card > * + * {
    padding: 13px 0 0;
  }
  .card:hover h2 a, .card:focus-within h2 a {
    color: var(--orange);
  }
  
  @media all and (min-width: 1024px) {
    .card {
      background-color: var(--white);
      flex-flow: row nowrap;
      max-height: 107px;
      padding: 0 40px;
    }
    .card > * {
      flex: 0 0;
    }
    .card > * + * {
      padding: 0;
    }
  }
  
  @media all and (min-width: 1540px) {
    .card {
      padding: 20px 60px;
      max-height: 147px;
      cursor: pointer;
    }
    .card:hover, .card:focus-within {
      outline: 1px solid var(--grey-demi-dark);
    }
  }
  

/*textcontent*/
.textContent {
    display: flex;
    flex-flow: row wrap;
  }
  .textContent > * + * {
    padding: 7px 0 0;
  }
  .metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
  }
  .publishedLabel {
    display: none;
  }
  .createdAt, .createdAt span {
    color: var(--grey99);
  }
  
  @media all and (min-width: 1024px) {
    .textContent {
      flex-basis: 540px;
      order: 1;
      margin: 0 0 0 38px;
      flex-flow: column-reverse nowrap;
      justify-content: center;
    }
    .textContent > * {
      flex: 0 0;
    }
    .metaData {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 16px;
    }
  
    .publishedLabel {
      display: inline;
    }
  }
  
  @media all and (min-width: 1540px) {
    .textContent {
      flex-basis: 672px;
    }
  }
  .preview {
    max-height: 178px;
    margin: 0 -20px;
  }
  
  .previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media all and (min-width: 1024px) {
    .preview {
      flex-basis: 190px;
      order:      0;
      margin:     0;
    }
  }
  .controls {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    flex-flow: row nowrap;
  }
  .actions > * + * {
    margin: 0 0 0 13px;
  }
  @media all and (min-width: 1024px) {
    .controls {
      order: 3;
      flex: 0 0;
      margin: 0 0 0 24px;
    }

    .actions {
      display: none;
    }
  }
